@media (max-width: 992px) {
	#header {height: 230px;}
	#picFrame {display: none;}
	#nav2 {display: none;}
	ul#menuList {
		top: 0;
		right: 0;
		width: 40%;
	}
	ul#menuList li {
		float: none;
		border-bottom: 1px solid white;
	}
	#logo img {float: left; margin-top: 10px;}
	#logo>p {float: left; padding-left:10px; margin-top: 10px;}
	#logo .social {display: none;}
	#adresa .tekst {
		margin-left: 0 !important;
	}
	#ftlogo p {
		float: right !important;
		width: initial !important;
	}
	#ftlogo .social1 {
		float: right !important;
		margin-top: 100px !important;
		margin-left: 50px;
	}
}
@media (max-width: 500px) {
	#logo>p {display: none;}
}
.container {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
#logo {height:360px;padding-left: 0;}
#logo>p {text-transform: uppercase;font-size: 18px;}
#menuList {
	text-transform: uppercase;
    position: absolute;
    width: 400px;
    margin-top: 10px;
    z-index: 1;
    padding-left: 0;
}
#menuList li {
    float: left;
    background-color: #7ACEC3;
    padding: 5px 15px 5px 5px;
    list-style: none;
    border-right: solid 1px white;
}
#menuList li a {
	text-decoration: none;
}
#menuList li a:hover {
	color: black;
}
#nav2   {
	height: 360px;
    background-image: url(../img/nav.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#nav2 p {
	text-transform: uppercase;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}
#nav2 a {
	padding-left:120px;
	text-decoration:none;
	color:white;
}
#nav2 #tel {
    padding-top: 150px;
    padding-left: 170px;
}
#decoration {
    width: 100%;
}
#ftbaner {height: 25px; background: #7ACEC3; padding: 0; margin: 10px 0;}
#ftmenu {padding-left: 0;}
#ftmenuList {padding-left: 0;}
#ftmenuList li:first-child {border-top: solid 1px lightgrey;}
#ftmenuList li {
    padding: 5px 15px 5px 5px;
    list-style: none;
    border: solid 1px lightgrey;
    border-top: none;
    text-align: center;
}
#ftmenuList li a:hover {
	color: #7ACEC3;
}
#ftmenuList li a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
#adresa :not(a) {
	text-transform: uppercase;
}
#adresa .tekst {
	margin-left: 50px;
}
#ftlogo>a{float:left;}
#ftlogo p {float: left; text-transform: uppercase; width:calc(100% - 210px);}
#ftlogo .social1 {float:left;margin-top: 80px;}